@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Prompt', sans-serif; */
    font-family: proxima-nova, sans-serif;
    /* font-family: miller-display, serif; */
}

a {
    overflow: hidden;
}

img {
    
    transition: all 0.8s ease-in-out;
}

.create__name-link,
.overview__title,
.name,
.result_detail {
    font-family: miller-display, serif;
}

img:hover {
    transform: scale(1.02);

}

.banner {

    background-image: linear-gradient(to right bottom,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('./img/header1.jpg');
    height: calc(100vh - 111px);
}

.header__item {
    transition: all 0.5s;
}

.header__item:hover {
    border-bottom: 1px solid #000;
}

.banner__text {
    font-family: miller-display, serif;
    font-weight: 300;
    font-size: 55px;
}

.btn {
    font-weight: 400;
    border: 1px solid #ffff;
    padding: 18px 50px;
    text-transform: uppercase;
}

.banner__link {
    background-image: transparent;
    background-clip: text;
}

.home__name-link {
    font-family: miller-display, serif;

}

.create__box:nth-child(even) .create__detail {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.overview {
    grid-template-columns: 400px 1fr;
}

.product {
    border-top: 1px solid #ddd6d6;
}

.quantity {
    position: absolute;
    background-color: rgb(95, 92, 92);
    color: white;
    top:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
    padding: 1px;
    border: 1px solid rgba(23, 24, 23, 0.933);
    border-radius: 50%;
    z-index: 10;
}

.product__detail {
    grid-template-columns: 70% 1fr;
}


.cart-tr {
    border-bottom: 1px solid #d1cbcb;
}

/* validator */
.form-group.invalid .form-control {
    border-color: #f33a58;
  }
  
.form-group.invalid .form-message {
    color: #f33a58;
  }

.search {
    transition: all 1s ease-in-out;
}

.search__ip {
    border: none;
    outline: none;
    color: #464242;
}

.un-exist {
    display: none;
}

.result_h3 {
    font-family: proxima-nova,sans-serif
}

.find {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 1fr;
    column-gap: 40px;
}

.result {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}